{% extends "app/base.html" %}

{% block main %}

<div class="container mt-3">
    <div class="column">
        <a href="{{ url_for('app.call') }}" class="btn btn-lg w-100 btn-primary">Call</a>
        <a href="{{ url_for('app.therapists') }}" class="btn btn-lg w-100 btn-primary mt-2">Therapists</a>
        <a href="{{ url_for('app.settings') }}" class="btn btn-lg w-100 btn-primary mt-2">Settings</a>
        <a href="{{ url_for('app.log') }}" class="btn btn-lg w-100 btn-primary mt-2">Log</a>
    </div>
</div>

{% endblock %}