<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Login - Therapyfinder</title>

        <!-- Bootstrap core CSS -->
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

        <style>
            .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                user-select: none;
            }

            @media (min-width: 768px) {
                .bd-placeholder-img-lg {
                    font-size: 3.5rem;
                }
            }
        </style>

        <!-- Custom styles for this template -->
        <link href="{{ url_for('static', filename='css/login.css')}}" rel="stylesheet">
    </head>

    <body class="text-center">
        {% include "alerts.html" %}

        <main class="form-signin">
            <form method="POST">
                <img class="mb-4" src="{{ url_for('static', filename='svg/logo.svg') }}" alt="" width="72" height="57">
                <h1 class="h3 mb-3 fw-normal">Please log in</h1>

                <div class="form-floating">
                    <input type="text" name="username" class="form-control" id="floatingInput" placeholder="username">
                    <label for="floatingInput">Username</label>
                </div>
                <div class="form-floating">
                    <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                    <button class="w-100 btn btn-lg btn-primary" type="submit">Log in</button>
                </div>
                <button type="button" class="btn btn-lg btn-secondary mt-4" data-bs-toggle="modal" data-bs-target="#registerModal">
                    Create new account
                </button>
            </form>
            
            {# Registration modal #}
            <div class="modal fade" id="registerModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id=registerModalLabel>Register</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form action="{{ url_for('user.register') }}" method="POST">
                            <div class="modal-body">
                                <label for="inputName" class="float-start">Username</label>
                                <input type="text" name="username" id="inputName" class="form-control mb-2" required autofocus>
              
                                <label for="inputPassword" class="float-start">Password</label>
                                <input type="password" name="password" id="inputPassword" class="form-control mt-1 mb-2"required>
                            </div>
                            <div class="modal-footer">
                                <a href="{{ url_for('user.login') }}" class="btn btn-secondary">Already registered?</a>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <input type="submit" class="btn btn-primary" value="Register!">
                            </div>
                        </form>
                    </div>
                </div>
            </div>


        </main>

        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

    </body>
</html>
